<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>OpenAPI Generator UI Online</title>
    <meta name="description" content="OpenAPI Generator UI Online tool">
    <meta name="keywords"
          content="OpenAPI Generator UI Swagger generator swagger parser UI Online free online tool java go swift kotlin php python ruby c# c c++ c# c++ java go swift kotlin php python ruby nodejs javascript typescript">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/OpenApiUI.css}"/>
</head>
<body>
<div class="container mt-2" id="app" v-cloak>
    <div class="alert alert-success" role="alert" th:if="${alertContent}" th:text="${alertContent}"></div>
    <div class="card">
        <div class="card-header">
            OpenAPI Generator UI Online
        </div>
        <div class="card-body">
            <form method="post" novalidate name="apiForm" enctype="multipart/form-data" @submit="submitForm">
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" checked v-model="apiParam.type" name="type"
                               id="typeUrl" value="url">
                        <label class="form-check-label" for="typeUrl" aria-label="OpenAPI URL">OpenAPI URL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="apiParam.type" name="type"
                               id="typeContent"
                               value="content">
                        <label class="form-check-label" for="typeContent" aria-label="OpenAPI JSON/YAML Content">OpenAPI
                            JSON/YAML Content</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="apiParam.type" name="type"
                               id="typeFile" value="file">
                        <label class="form-check-label" for="typeFile" aria-label="OpenAPI JSON/YAML File">OpenAPI
                            JSON/YAML File</label>
                    </div>
                </div>
                <div v-if="apiParam.type==='url'">
                    <div class="mb-3">
                        <label for="apiUrl" class="form-label" aria-label="OpenAPI URL">OpenAPI URL</label>
                        <input type="text" name="url" v-model="apiParam.url" class="form-control" id="apiUrl" required
                               placeholder="OpenAPI URL">
                        <div class="invalid-feedback">
                            Open API URL is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch mb-2">
                            <label class="form-check-label" for="apiAuth">Basic Authorization
                                <input class="form-check-input" id="apiAuth" type="checkbox" role="switch" name="auth"
                                       v-model="apiParam.auth">
                            </label>
                        </div>
                        <div class="row" v-if="apiParam.auth">
                            <div class="col-md-6">
                                <label class="form-label">User Name</label>
                                <input type="text" name="userName" v-model="apiParam.userName" class="form-control"
                                       required
                                       placeholder="Username" aria-label="Username">
                                <div class="invalid-feedback">
                                    User name is required.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" v-model="apiParam.password" class="form-control"
                                       required
                                       placeholder="Password" aria-label="Password">
                                <div class="invalid-feedback">
                                    Password is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3" v-if="apiParam.type==='content'">
                    <label for="apiContent" class="form-label">OpenAPI JSON/YAML Content</label>
                    <textarea v-model="apiParam.content" name="content" class="form-control" id="apiContent" required
                              rows="5"></textarea>
                    <div class="invalid-feedback">
                        JSON/YAML Content is required.
                    </div>
                </div>
                <div class="mb-3" v-if="apiParam.type==='file'">
                    <label for="formFile" class="form-label">OpenAPI JSON/YAML File</label>
                    <input class="form-control" ref="fileRef" name="file" type="file" id="formFile"
                           accept=".yaml,.yml,.json" required>
                    <div class="invalid-feedback">
                        JSON/YAML File is required.
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" v-if="errorRef">
                    {{errorRef}}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg" :disabled="loading">
                        <span class="spinner-border spinner-border-sm" v-if="loading" aria-hidden="true"></span>
                        Load OpenAPI
                    </button>
                    <button type="button" v-if="apiTags?.length" class="btn btn-success btn-lg ms-3"
                            :disabled="generateLoading" @click="doGenerateCode">
                        <span class="spinner-border spinner-border-sm" v-if="generateLoading" aria-hidden="true"></span>
                        Generate {{checkedOperations?.length? 'Selected':'All'}}
                        <span class="badge rounded-pill text-bg-info ms-2"
                              v-if="checkedOperations?.length">{{checkedOperations?.length||0}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-2" v-if="apiTags?.length">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-api"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    OpenAPI Details
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-config"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Generator Config
                </button>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-api" role="tabpanel" aria-labelledby="nav-api-tab"
                 tabindex="0">
                <div class="accordion">
                    <div class="accordion-item" v-for="(apiTag, index) in apiTags">
                        <h2 class="accordion-header position-relative">
                            <div class="form-check-label abs-checkbox">
                                <input class="form-check-input float-start" type="checkbox"
                                       @change="checkTagOperations(apiTag, apiTag.checked)"
                                       v-model="apiTag.checked">
                            </div>
                            <button class="accordion-button ps-5" :class="index!==0?'collapsed':''" type="button"
                                    data-bs-toggle="collapse" :data-bs-target="'#'+apiTag.tagId">
                                <span class="text-info fs-5">{{apiTag.name}}</span>
                                <span class="badge rounded-pill text-bg-secondary ms-2">
                                <span v-if="apiTag.checkedCount">{{apiTag.checkedCount}} /</span>
                                {{apiTag.operations.length}}
                                </span>
                                <span class="text-body-secondary ms-2"
                                      v-if="apiTag.description">{{apiTag.description}}</span>
                            </button>
                        </h2>
                        <div :id="apiTag.tagId" class="accordion-collapse collapse"
                             :class="index===0?'show':''">
                            <div class="accordion-body">
                                <div class="form-check" v-for="operation in apiTag.operations" :key="operation.path+'#'+operation.operationId">
                                    <label class="form-check-label mb-3" role="button">
                                        <input class="form-check-input" type="checkbox" v-model="operation.checked"
                                               :value="operation.operationId">
                                        <span class="badge" :class="'text-bg-'+(methodMap[operation.method]||'info')">{{operation.method}}</span>
                                        <span class="ms-2"
                                              :class="(operation.deprecated?'text-decoration-line-through ':' ')+'text-'+(methodMap[operation.method]||'info')">{{operation.path}}</span>
                                        <span class="text-body-secondary ms-2"
                                              :class="operation.deprecated?'text-decoration-line-through':''"
                                              v-if="operation.summary">{{operation.summary}}</span>
                                        <span class="badge text-bg-secondary rounded-pill ms-2"
                                              v-custom-tooltip="operation.description"
                                              v-if="operation.description">?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab" tabindex="0">
                <div class="mt-3 mb-3 text-center">
                    <button type="button" class="btn btn-primary btn-sm" @click="saveLanguageConfig">
                        Save Config
                    </button>
                    <button type="button" v-if="lastLanguageModel" class="btn btn-secondary btn-sm ms-2"
                            @click="resetLanguageConfig">
                        Reset Config
                    </button>
                </div>
                <div class="mt-3 mb-3 row">
                    <label class="col-sm-3 col-form-label text-end">
                        <a :href="supportedUrls.find(supported=>supported.url===languageModel._generatorUrl)?.home"
                           target="_blank">Generator URL</a>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-select" v-model="languageModel._generatorUrl">
                            <option :value="supportedUrl.url" :key="supportedUrl.url"
                                    v-for="supportedUrl in supportedUrls">
                                {{supportedUrl.name}} - {{supportedUrl.url}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label text-end">Client/Server</label>
                    <div class="col-sm-9">
                        <select class="form-select" v-model="languageModel._path">
                            <option :value="generatorMode.path" :key="generatorMode.path"
                                    v-for="generatorMode in generatorModes">
                                {{generatorMode.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label text-end">Language</label>
                    <div class="col-sm-9">
                        <select class="form-select" v-model="languageModel._language">
                            <option :value="language" :key="language" v-for="language in languages">{{language}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row" v-for="languageOption in languageOptions">
                    <label class="col-sm-3 col-form-label text-end">
                        {{languageOption.label}}
                        <span class="badge text-bg-secondary rounded-pill ms-2"
                              v-custom-tooltip="languageOption.tooltip"
                              v-if="languageOption.tooltip">?</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" v-if="languageOption.type==='input'"
                               v-model="languageModel.config[languageOption.prop]" class="form-control">
                        <select class="form-select" v-if="languageOption.type==='select'"
                                v-model="languageModel.config[languageOption.prop]">
                            <option :value="option.value" :key="option.value" v-for="option in languageOption.options">
                                {{option.label}}
                            </option>
                        </select>
                        <div class="form-check form-switch" v-if="languageOption.type==='switch'">
                            <input class="form-check-input" type="checkbox" role="switch"
                                   v-model="languageModel.config[languageOption.prop]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" v-if="apiTags?.length" class="btn btn-success btn-lg m-3"
                    :disabled="generateLoading" @click="doGenerateCode">
                <span class="spinner-border spinner-border-sm" v-if="generateLoading" aria-hidden="true"></span>
                Generate {{checkedOperations?.length? 'Selected':'All'}}
                <span class="badge rounded-pill text-bg-info ms-2"
                      v-if="checkedOperations?.length">{{checkedOperations?.length||0}}</span>
            </button>
        </div>
    </div>
    <div class="m-2 text-center">
        Build Version: <span th:text="${buildVersion}"></span>
    </div>
</div>
</body>
<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/vue/3.5.13/dist/vue.global.prod.js}"></script>
<script th:src="@{/js/OpenApiUI.js}" type="module"></script>
<script th:if="${!#strings.isEmpty(adsenceAddress)}" async th:src="${adsenceAddress}" crossorigin="anonymous"></script>
</html>
